<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mine Sweeper</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
<script src="minesweeper.js"></script>
<script src="controllers/UserController.js"></script>
<script src="services/userService.js"></script>
<script src="services/boardService.js"></script>
<script src="directives/rightClick.js"></script>
<style>
td {
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: thin;
    text-align: center;
}
td button {
    width: 100%;
    padding: 0;
    font-weight: bolder;
}
</style>
</head>
<body>
<main ng-app="minesweeper" ng-controller="UserController as c">
    <section>
        <form novalidate onsubmit="return false" ng-submit="c.login()">
            <label for="username">Username: </label>
            <input name="username"
                   type="text" 
                   placeholder="Enter your username"
                   ng-model="c.username"
            />
            <button type="submit">Login</button>
        </form>
    </section>
    <section ng-show="c.logged">
        <h3>New Board</h3>
        <form name="board" novalidate onsubmit="return false" ng-submit="c.createBoard()">
            <label for="rows">Rows: </label>
            <input name="rows" type="number" min="1" max="100" ng-model="c.rows" required />
            <span class="error" ng-show="board.rows.$error.number">Rows is not a valid number</span>
            <label for="columns">Columns: </label>
            <input name="columns" type="number" min="1" max="100" ng-model="c.columns" required />
            <span class="error" ng-show="board.columns.$error.number">Columns is not a valid number</span>
            <label for="mines">Mines: </label>
            <input name="mines" type="number" min="1" max="100" ng-model="c.mines" required />
            <span class="error" ng-show="board.mines.$error.number">Mines is not a valid number</span>
            <button type="submit">Start!</button>
        </form>
    </section>
    <section ng-show="c.boards.length">
        <h3>Boards</h3>
        <ol>
            <li ng-repeat="board in c.boards">
                <form novalidate onsubmit="return false" ng-submit="c.resumeBoard(board)">
                    <span>{{board.started | date:'yyyy-MM-dd hh:mm:ssa'}}</span>
                    <button type="submit">Resume</button>
                </form>
            </li>
        </ol>
    </section>
    <section ng-show="c.board">
        <form novalidate onsubmit="return false" ng-submit="c.preserveBoard()">
            <table id="board">
                <tbody>
                    <tr ng-repeat="rows in c.board.cells track by $index">
                        <td ng-repeat="cell in rows track by $index">
                            <button type="button" right-click="c.markCell(cell)" >
                                <i ng-show="cell.value == 'f'" class="glyphicon glyphicon-flag"></i>
                                <i ng-hide="cell.value == 'f'" class="glyphicon">{{cell.value}}</i>
                                <!--i class="glyphicon glyphicon-certificate"></i-->
                            </button>
                            <span ng-show="false">1</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span id="timer"></span>
            <button type="submit">Preserve</button>
        </form>
    </section>
</main>
<script>

setInterval(function() {
    document.getElementById("timer").innerHTML = new Date().toISOString();
}, 1000)
</script>
</body>
</html>
